/* element */
/* s */

/* id */
/* #sample {
    color: rgb(255, 39, 39);
} */

/* class */
/* .caption {
    color: blueviolet;
} */

/* all element */
/* با نشان ستاره یا * انتخاب تمامی عناصر انجام میشود */
/* * {font-family: 'Lucida Sans', 'Lucida Sans Regular' ;
} */

/* grouping */
/* برای انتخاب دو یا چند عنصری که تغییرات مانند هم دارند 
به جای نوشتن خطوط مشابه و تکراری
با قراردادن درون یک گروه و نام بردن عناصر
به آن عناصر تنظیماتی که میخواستیم بدیم با یکبار
نوشتن داده میشود */
/* h1, h2 {
    color: green;
} */
/* element element */
/* اون فاصله بین المنتها نشان دهنده المان والد و فرزند هست
برای انتخاب المنت های فرزند یک المان والد */
.mysection div {
    border: 1px solid red;
}
/* element > element */
/* فرزند اول و مستقیم المان پدر را فقط انتخاب میکند */
/* .mysection > div {
border: 1px solid red;
} */
/* element1 + element2 */
/* با استفاده از این روش میتوان یک المانی خاص را که بعد از یک المان
دیگر آمده است را میتوان انتخاب کرد.
این حالت فقط برای انتخاب همان المانی که بعد از المان انتخابی ماست
استفاده میشود */
/* h3 + p {
    color: blueviolet;
} */


/* element1 ~ element2 */
/* این سلکتور مثل قبلیه ولی تمام المانهای بعد از المان انتخابی را
انتخاب میکنه و تغییر میده */
/* H1 ~ p {
    color: red;
    font-size: 20px;
} */

